AnalisisItem/Doc/
AnalisisItem/Output/
AnalisisItem/Src/bin/
AnalisisItem/Src/.Rhistory
*.log*
*.DAT*
*.dat*
*.con*
*FILE.txt*
*AnalisisItem/Input/*Descripcion.txt*
*AnalisisItem/Input/*evalexcluidos.txt*
*AnalisisItem/Input/*items.txt*
*.OUT*
*.out*
*-IFILE*
*-PFILE*

